*
{
    margin: 0;
    padding: 0;
    
}

.container
{
    width: 100%;
    height: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.164);
    flex-direction: column;
}

#img
{   
    max-width: 50px;
    width: 50VW;
    height: 50VH;
}

.btn
{
    min-width: 250px;
    max-width: 300px;
    height: 60px;
    margin: 20px;
    font-size:150%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: rgb(24, 202, 24);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
.btn:hover {
    transform: scale(1.05);
  }
  .inicio{
    background-color: rgba(240, 248, 255, 0.822);
  }
  .btn2
  {
      min-width: 250px;
      max-width: 300px;
      height: 60px;
      margin: 20px;
      font-size:150%;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 700;
      background-color: rgb(0, 0, 0);
      color: rgb(24, 202, 24);
      cursor: pointer;
      display:flex;
      justify-content: center;
      align-items: center;
  
  }
  .btn2:hover {
      transform: scale(1.05);
    }
body{
    background-image: url("./fondos-de-colores-10.jpeg");
   


}
  

